<!DOCTYPE html>
<html>
    <head>
        <title>Refaie’s Birthday</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    </head>
    <style>
        h1{
          text-align: center;
        }
    </style>
    <body>
        {% if birthday %}
        <div class="alert alert-success" role="alert" >
        <h1 class="h1">YES, Tell Refaie Happy Birthday!</h1>
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
        <h1 class="h1">NO, It’s NOT</h1>
        </div>
        {% endif %}

    </body>
</html>
