<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    </head>
    <style>
        div{
          text-align: center;
        }
    </style>
    <body>
      <div class ="container">
        <h1 class="h1">HELLO, DO YOU WANT TO KNOW IF TODAY IS REFAIE’S BIRTHDAY OR NOT?!</h1>
        <a href="{{ url_for('birthday') }}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Click Here if YES!</a>
      </div>
    </body>
</html>
